// ホバーすると明るくなります
@mixin bright-hover() {
  &:hover {
    opacity: 0.75;
  }
}
// ホバーすると明るくなり、アンダーラインもつきます
@mixin bright-Uline-hover() {
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
  }
}
// アニメーション付きのホバーアクション(明るくなる)
@mixin bright-hover-tra() {
  &:hover {
    opacity: 0.75;
    transition-duration: 0.3s;
  }
}
// ログインページボタン類
@mixin login-page-btn() {
  .login-page-btn {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $white;
    }
  }
}
@mixin form-btn() {
  height: 48px;
  margin: 24px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: $white;
  font-size: 16px;
  &:first-child{
    margin: 0;
  }
}