@mixin btn-red (){
  .btn-red {
    margin: 0 auto;
    background: $red;
    border: 1px solid $red;
    color: $white;
    display: block;
    width: 648px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
  }
}

@mixin btn-gray (){
  .btn-gray {
    margin: 25px auto 0;
    background: #aaa;
    color: $white;
    display: block;
    width: 400px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
  }
}

@mixin sell-form-box (){
  .sell-form-box {
    width: 400px;
    height: 100%;
    padding-left: 135px;
    float: right;
  }
}

@mixin sell-tag-default (){
  p {
    margin-top: 8px;
  }
  label {
    font-weight: 600;
  }
  select {
    width: 100%;
    margin-top: 8px;
    position: relative;
    background: $white;
    height: 48px;
  }
  input {
    outline: 0;
    font-family: inherit;
  }
  textarea {
    display : block;
    width : 602px;
    min-height: 104px;
    padding: 10px;
    border: $sell_border;
    background: $white;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 4px;
  }
}
