= render 'shared/header'
.mypage
  .left-side
    = render 'shared/mypage-side-nav'
  .right-side
    .logout-container
      .logout-box
        %button.logout-box__btn{ type: "submit"} ログアウト
= render 'shared/footer'