= render 'shared/header'
.mypage
  .left-side
    = render 'shared/mypage-side-nav'
  .right-side
    .logout-container
      .logout-box
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-box__btn"
= render 'shared/footer'