.many-items-box-row
  .main-content
    .main-content__pickup__title
      メンズ/スニーカー その他の商品
    .main-content__items__field
      .main-content__items__field__pickup__items-box
        .main-content__items__field__pickup__items-box__photo
          = image_tag 'item.jpg'
        .main-content__items__field__pickup__items-box__text
          .main-content__items__field__pickup__items-box__text__title
            テスト商品
          .main-content__items__field__pickup__items-box__text__price
            ¥1,000
      .main-content__items__field__pickup__items-box
        .main-content__items__field__pickup__items-box__photo
          = image_tag 'item.jpg'
        .main-content__items__field__pickup__items-box__text
          .main-content__items__field__pickup__items-box__text__title
            テスト商品
          .main-content__items__field__pickup__items-box__text__price
            ¥1,000
      .main-content__items__field__pickup__items-box
        .main-content__items__field__pickup__items-box__photo
          = image_tag 'item.jpg'
        .main-content__items__field__pickup__items-box__text
          .main-content__items__field__pickup__items-box__text__title
            テスト商品
          .main-content__items__field__pickup__items-box__text__price
            ¥1,000