= render 'shared/registration-header'
.registration-form.third-step
  .registration-form__header
    会員情報入力
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--theme
          お名前
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)よしだじゅんき'}
      .input-content__form
        .input-content__form--theme
          お名前カナ
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)ヨシダジュンキ'}
      .input-content__form
        .input-content__form--theme
          郵便番号
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)123-4567'}
      .input-content__form
        .input-content__form--theme
          都道府県
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '北海道'}
      .input-content__form
        .input-content__form--theme
          市町村
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)横浜市緑区'}
      .input-content__form
        .input-content__form--theme
          番地
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)青山1-1-1'}
      .input-content__form
        .input-content__form--theme
          建物名
        .input-content__form--optional
          任意
        .input-content__form--default{placeholder: '例)柳ビル103'}
      .input-content__form
        .input-content__form--theme
          電話
        .input-content__form--optional
          任意
        .input-content__form--default{placeholder: '北海道'}
      .input-content__form
        .btn-red
          次へ進む
= render 'shared/sub-footer'