= render 'shared/registration-header'
.registration-form.fourth-step
  .registration-form__header
    会員登録完了
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--terms
          ありがとうございます。
          %br 会員登録が完了しました。
      .input-content__form
        .btn-red
          メルカリをはじめる
= render 'shared/sub-footer'