= render 'shared/registration-header'
.registration-form.second-step
  .registration-form__header
    電話番号認証
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--theme
          認証番号
        .input-content__form--default{placeholder: '認証番号を入力'}
        .form-info__text
          SMSで届いた認証番号を入力してください
      .input-content__form
        .btn-red
          認証して完了
= render 'shared/sub-footer'