-# users-controllerが作成されるまで、部分テンプレートに仮に置いています。
-# 作成され次第、当てはめます。
= render 'shared/registration-header'
.registration-form
  .registration-form__header
    会員情報入力
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--theme
          ニックネーム
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)ヨシダジュンキ'}
      .input-content__form
        .input-content__form--theme
          メールアドレス
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: 'PC・携帯どちらでも可'}
      .input-content__form
        .input-content__form--theme
          パスワード
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '6文字以上'}
      .input-content__form
        .input-content__form--theme
          パスワード(確認)
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '6文字以上'}
        .input-content__form
          .form-info
            %p 本人確認
            .form-info__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .input-content__form
        .input-content__form--theme
          性(全角)
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)吉田'}
      .input-content__form
        .input-content__form--theme
          名(全角)
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)純基'}
      .input-content__form
        .input-content__form--theme
          性カナ(全角)
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)ヨシダ'}
      .input-content__form
        .input-content__form--theme
          名カナ(全角)
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '例)ジュンキ'}
      .input-content__form
        .input-content__form--theme
          生年月日(後々実装予定)
        .input-content__form--require
          必須
        .input-content__form--select-box
      .identity-verification
        %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .input-content__form
        .form-confirm-recaptcha
          私はロボットではありません(後々実装予定)
      .input-content__form
        .input-content__form--terms
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      .input-content__form
        .btn-red
          次へ進む
      .input-content__form.about-user-info
        = link_to root_path do
          本人情報の登録について
          %i.fas.fa-angle-right
= render 'shared/sub-footer'
