= render 'items/sub-header'
.buy-content
  .buy-content__title
    .buy-content__title__text
      購入内容の確認
  .buy-content__main
    .buy-content__main__top
      .buy-content__main__top__img
        =image_tag @item.images[0].image.url
      .buy-content__main__top__text
        エアジョーダンスニーカー
    .buy-content__main__price
      .buy-content__main__price__text
        6800¥
      .buy-content__main__price__tax
        送料込み  
    .buy-content__main__button
      .buy-content__main__button__text
        ポイントはありません
    .buy-content__main__buy-price
      .buy-content__main__buy-price__title
        支払い金額
      .buy-content__main__buy-price__number
        6800¥
    .buy-content__main__buy-button
      .buy-content__main__buy-button__text
        購入する
  .buy-content__middle
    .buy-content__middle__adless
      .buy-content__middle__adless__title
        配送先
      .buy-content__middle__adless__text
        〒000-0000
        愛知県 名古屋市中区
      .buy-content__middle__adless__name
        テストタロウ
      .buy-content__middle__adless__change
        変更する＞
  .buy-content__row
    .buy-content__row__pay-type
      .buy-content__row__pay-type__title
        支払い方法
      .buy-content__row__pay-type__text
        選択されていません
      .buy-content__row__pay-type__change
        変更する＞   
= render 'items/sub-footer'