= render 'items/sub-header'
.single-container
  %main
    %section.buy-container
      %h2 購入内容の確認
      %section.buy-content
        .buy-content__inner
          %h3.buy-item-image
            = image_tag "cat.jpeg"
          %p.buy-item-name.bold
            ネコの詰め合わせだにゃー
          %form{action:"http://",class:"buy-form"}
            %p.buy-price.bold 
              ¥10,000
              %span 送料込み
            %ul.buy-accordion
              %li
                %button.btn ポイントを使う
                %ul
            .buy-price-table
              .buy-price-table__row.bold
                .buy-price-table-cell 支払い金額
                .buy-parice-table-cell-span
                  %span ¥10,000
            %p.has-error-text
              配送先と支払い方法の入力を完了してください。
            %button.btn__red
              購入する
      %section.buy-user-info
        .buy-user-inner
          %h3 配送先
          .buy-user-inner__text
          %p.buy-user-inner__text 〒-000-0000
          %a{href:"http://", class:"buy-user-inner__fix"}
            .change-box
              %span 変更する
            %i.icon-arrow-right
      %section.buy-user-info
        .buy-user-inner
          %h3 支払い方法
          %p.buy-user-inner__text あいうえお
          %figure
          %a{href:"http://", class:"buy-user-inner__fix"}
            .change-box
              %span 変更する
            %i.icon-arrow-right
= render 'items/sub-footer'