.registration-header
  .registration-header__icon
    = link_to root_path do
      = image_tag 'merrcari.svg'
  .registration-header__nav-bar
    %ol.registration-header__nav-bar--process
      %li 
        会員情報
        .process-status
      %li 
        電話番号認証
        .process-status
      %li 
        お届け先住所
        .process-status
      %li 
        支払い方法
        .process-status
      %li 
        完了
        .process-status
.form-main
  .first-form
    .first-form__header
      会員情報入力



-# = render 'shared/header'
-# = render 'shared/main-items'
-# .under-content
-#   =image_tag 'undercontent.png'
-# = render'shared/footer'
