= render 'shared/header'
= render 'shared/mypage-user-information'
= render 'shared/footer'
-# = render 'shared/main-items'
-# .under-content
-#   =image_tag 'undercontent.png'
-# = render'shared/footer'
