= render 'shared/sub-header'
%main
  %section.single-container
    .sell-container
      .sell-container-inner
        .sell-contents
          .sell-contents__title 商品の情報を入力
          .sell-contents__form
            .sell-upload-box
              %label.sell-image 出品画像
              %span.required 必須
              %p 最大10枚までアップロードできます
              .sell-upload-box__drop
                %pre ドラッグドロップ  またはクリックしてファイルをアップロード
            .sell-content
              .form-group
                %label 商品名
                %span.required 必須
                %input.item-name{ placeholder: "商品名（最大40文字まで）"}
              .form-group
                %label 商品の説明
                %span.required 必須
                %textarea{ placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
            .sell-content--category
              .title-box
                %h3 商品の詳細
                %i.fa.fa-question-circle
              .sell-form-box
                .form-group
                  %label カテゴリー
                  %span.required 必須
                  %select.category-group
                    %option ----
                  %i.icon-arrow-bottom
                .form-group-under
                  %label 商品の状態
                  %span.required 必須
                  %select.category-group
                    %option ----
                  %i.icon-arrow-bottom
            .sell-content--delivery
              %h3 配送について
              .sell-form-box
                .form-group
                  %label 配送料の負担
                  %span.required 必須
                  %select.category-group
                    %option ----
                  %i.icon-arrow-bottom
                .form-group-under
                  %label 発送元の地域
                  %span.required 必須
                  %select.category-group
                    %option ----
                  %i.icon-arrow-bottom
                .form-group-under
                  %label 発送までの日数
                  %span.required 必須
                  %select.category-group
                    %option ----
                  %i.icon-arrow-bottom
            .sell-content--price
              %h3 販売価格(300~9,999,999)
              %ul.sell-form-box
                %li.form-group.price-menu
                  .clearfix
                    %label 価格
                    %span.required 必須
                    .price-box
                      .price-box__left ¥
                      %input.price-box__right{ placeholder: "例) 300  "}
                %li.center-box.clearfix
                  .left-box 販売手数料(10%)
                  .right-box -
                %li.center-box.clearfix
                  .left-box.bold 販売利益
                  .right-box.bold -  
            .sell-content--price.btn-box
              .upper-box
                %p 禁止されている出品、行為を必ずご確認ください。
                %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であ
                %p り処罰される可能性があります。
                %p また、出品をもちまして加盟店規約に同意したことになります。
              %button.btn-red{ type: "submit"} 出品する
              .gray-btn-box
                %button.btn-gray{ type: ""} もどる
= render 'shared/sub-footer'