.registration-header {
  height: 128px;
  text-align: center;
  &__icon {
    display: inline-block;
    img {
    width: 185px;
    height: 49px;
    line-height: 49px;
    margin: 40px 8px 0 0;
    }
  }
  &__nav-bar {
    display: inline-block;
    vertical-align: top;
    padding: 40px 0 0 44px;
    &--process li {
      display: inline-block;
      font-size: 12px;
      list-style: none;
      position: relative;
      width: 100px;
      .process-status {
        width: 12px;
        height: 12px;
        background: $signup-back;
        border-radius: 50%;
        margin: 8px auto 0;
      }
    }
    .process-mark::after{
      content: "";
      position: absolute;
      bottom: 5px;
      height: 2px;
      background: $signup-back;
      width: 100px;
    }
    .process-mark:last-child::after{
      display: none;
    }
  }
}