.registration-header
  .registration-header__icon
    = link_to root_path do
      = image_tag 'merrcari.svg'
  .registration-header__nav-bar
    %ol.registration-header__nav-bar--process
      %li.completed
        会員情報
        .process-status.completed
      %li.completed
        電話番号認証
        .process-status.completed
      %li.completed
        お届け先住所
        .process-status.completed
      %li.completed
        支払い方法
        .process-status.completed
      %li.active
        完了
        .process-status
.center-card
  .registration-form.fourth-step
    .registration-form__header
      会員登録完了
    .registration-form__input
      .input-content
        .input-content__form
          .input-content__form--terms
            ありがとうございます。
            %br 会員登録が完了しました。
        .input-content__form
          .btn-red
            = link_to "メルカリをはじめる", root_path, class: "root-link"
= render 'shared/sub-footer'