.main-content{
  background-color: $background;
  &__img-box{
    img{
      width: 100%;
      height: 390px;
    }
    .slider{
      display:none;
    }
    .slick-dots{
      height: 30px;
      display: flex;
      position: absolute !important;
        bottom: 5px !important;
        left: 50%;
        transform: translateX(-50%);
      li{
        margin-left: 12px;
        margin-right: 12px;
        button{
          border-radius: 60%;
          width: 15px;
          height: 15px;
        }
        #slick-slide-control00{
          font-size: 0px;
          border: none;
          background: rgba(0,0,0,0.5);
        }
        #slick-slide-control01{
          font-size: 0px;
          border: none;
          background: rgba(0,0,0,0.5);
        }
        #slick-slide-control02{
          font-size: 0px;
          border: none;
          background: rgba(0,0,0,0.5);
        }
        button:before {
          font-size: 14px !important;
          color: rgb(60, 60, 60) !important;
          display: none;
        }
      }
      i{
        display: flex;
        position: absolute;
        display: none;
      }
    }
  }
  &__pickup{
    font-size: 28px;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    &__title{
      font-size: 22px;
      font-weight: bold;
      color: $blue;
      text-align: center;
      #top-page {
        margin: 26px 11px;
        a {
          @include bright-Uline-hover();
          &:hover {
            color: $blue;
          }
        }
      }
      #show {
        margin: 24px 0 8px 0;
        text-align: left;
      }
    }
  }
  
  &__items__field{
    display: inline-block;
    margin: 0 20px 20px 0;
    @include text-decoration-none-hover();
    &__pickup {
      width: calc(100% - 400px);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      &__items-box{
        width: 215px;
        @include text-decoration-none-hover();
        &__photo{
          height: 213px;
          background-color: $box-background;  
          line-height: 213px;
          text-align: center;
          img{
            height: 213px;
            width: 215px;
            object-fit: cover;
          }
        }
        &__text{
          background-color: $white;
          margin-top: 0px;
          width: 213px;
          height: 100px;
          margin-bottom: 25px;
          text-align: left;
            &__title{
              font-size: 16px;
              padding-top: 15px;
              padding-left: 10px;
              height: 3em;
            }
            &__price{
              font-size: 16px;
              font-weight: bold;
              padding-left: 10px;
            }
          }
        }
    }
    }
  }
.under-content{
  height: 260px;
  img{
    width: 100%;
    height: 260px;
  }
}
.link_item{
  
}
.soldout-badge{
  position: absolute;
  border-color: #ea352d transparent;
  border-width: 100px 100px 0 0;
  border-style: solid;
  &__text{
    position: absolute;
    color: $white;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    top: -80px;
    font-size: 26px;
  }
}