.main-header{
  background: $white;
}
.header{
  &__top{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: calc(100% - 200px);
    &__left{
      padding-top: 8px;
      img{
        height: 36px;
        width: 134px;
      }
    }
    &__right{
      display: flex;
      width: calc(100% - 140px);
      margin-top: 8px;
      input{
        height: 40px;
        width: calc(100% - 40px);
        font-size: 16px;
        padding-left: 10px;
        border-radius: 5px;
        margin-left: 45px;
        border: 1px solid #ccc;
        }
        &__icon{
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 5px;
          background-color: $gray;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            margin: auto;
            color: $white;
            
           }
        }
      }
    }
  &__row{
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    width: calc(100% - 200px);
    height: 60px;
    line-height: 60px;
    &__left{
      float: left;
      ul{
        margin-bottom: 0;
        font-size: 14px;
        padding-left: 0px;
        list-style: none;
        display: flex;
        font-weight: bold;
        // margin-top: 20px;
        li{
          margin-right: 20px;
          i{
            color: $red;
            margin-right: 3px;
            font-size: 15px;
          }
        }
        li:hover{
          color:$blue;
        }
      }
    }
    &__right{
      margin-right: 0;
      margin-left: auto;
      ul{
        list-style: none;
        display: flex;
        color: $gray;
        font-size: 14px;
        // margin-top: 20px;
        li{
          margin-left: 35px;
          .fa{
            font-size: 17px;
            color: $gray;
          }
          .header_link{
            text-decoration: none;
            color: $black;
          }
        }
        li:hover{
          color:$blue;
        }
      }
    }
    .header__row__mypage{
      position: absolute;
      top: 100px;
      right: 100px;
      z-index: 1;
      width: 320px;
      background: #fff;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
      font-size: 14px;
      height: 530px;
      display: none;
      &__box{
        height: 100%;
        width: 100%;
        &__top{
          height: 70px;
          width: 100%;
          background: $white;
          padding-top: 5px;
          img{
            height: 75px;
            width: 100%;
          }
          &__icon{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 auto;
            background: $signup-back;
          }
        }
        &__middle{
          height: 110px;
          width: 100%;
          text-align: center;
          // margin-top: 25px;
          &__name{
            font-size: 18px;
          }
          &__user-menu{
            width: 200px;
            height: 20px;
            margin: 0 auto;
            // padding-top: 5px;
            display: flex;
            font-size: 15px;
            &__left{
              width: 100px;
            }
            &__right{
              width: 100px;
            }
          }
          &__row{
            width: 300px;
            height: 70px;
            margin: 0 auto;
            margin-top: 25px;
            background: $gray;
            font-size: 14px;

            &__top{
              height: 35px;
              width: 100%;
              background:$background;
              border: 1px solid #eee;
              li{
                line-height: 35px;
                float: left;
                padding-left: 5px;
              }
            }
            &__bottom{
              height: 35px;
              width: 100%;
              background: $background;
              border: 1px solid #eee;
              li{
                line-height: 35px;
                float: left;
                padding-left: 5px;
              }
            }
          }
        }
        &__bottom{
          height: 475px;
          width: 100%;
          margin-top: 75px;
          line-height: 40px;
          &__list{
            height: 100%;
            width: 100%;
          &__block{
            width: 100%;
            height: 45px;
            border: 1px solid #eee;
            text-align: left;
            li{
              width: 100%;
              height: 100%;
              padding-left: 10px;
            i{
              float: right;
              padding-right: 10px;
              line-height: 40px;
              color: $signup-back;
              font-size: 20px;
                }
              }
              li:hover{
                background: $background;
                i{
                color: black;
                padding-right: 7px;
                }
              }
            }
          }
        }
      }
      
    }
  }
}
.category-index{
  width: 770px;
  float: bottom;
  display: none;
  position: absolute;
  z-index: 20;
  background: $white;
  margin-left: 90px;
  top: 90px;
  &__parents{
    width: 30%;
    height: 100%;
    background: $white;
    float: left;
    li{
      height: 45px;
      padding-left: 10px;
      line-height: 45px;
      font-size: 15px;
      
    }
    li:hover{
      color:$blue;
      background: $red;
    }
  }
  &__children{
    width: 220px;
    height: 100%;
  }
  &__grandchildren{
    width: 40%;
    height: 100%;
    background: yellow;
    float: left;
  }
}
.content{
  height: 900px;
}
.new_user_cretae{
  height: 30px;
  width: 100px;
  background-color: $red;
  border: solid $red ;
  border-radius: 2px;
}
.header__row__right{
  height: 60px;
  .new{
    .new_user_create{
      height: 34px;
      width: 110px;
      background-color: $red;
      text-align: center;
      margin-top: 13px;
      margin-bottom: 0;
      position: relative;
      border-radius: 3px;
      &__link{
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        vertical-align: middle;
        position: absolute;
        top: -16px;
        left: 0px;
        line-height: 70px;
        font-size: 15px;
      }
    }
    .user_sign_in{
      height: 34px;
      width: 95px;
      text-align: center;
      margin-top: 13px;
      margin-bottom: 0;
      position: relative;
      border: $blue solid 1px;
      border-radius: 3px;
      &__link{
        width: 100%;
        height: 100%;
        text-decoration: none;
        vertical-align: middle;
        position: absolute;
        top: -18px;
        left: 0px;
        line-height: 70px;
        font-size: 15px;
      }
    }
  }
}
