.mypage {
  height: 1300px;
  width: 1040px;
  background: $background;
  margin: 40px auto 0;
  .right-side {
    float: right;
    width: 700px;
    .mypage-user {
      position: relative;
      line-height: 0;
      img {
        height: 200px;
        width: 700px;
      }
      &__icon {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 100%;
        &--number {
          margin: 8px 0 0;
        }
        a {
          text-decoration: none;
          color: $black;
          @include bright-Uline-hover();
          img {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
          }
        }
      }
    }
    .mypage-tab {
      ul {
        background-color: $white;
      }
      &__list {
          &--todo, .current-deal {
            background-color: #eee;
            border-top: 2px solid #eee;
          }
          &--notification, .past-deal {
            border-top: 2px solid red;
          }
          a {
            text-decoration: none;
            color: $black;
            line-height: 72px;
            text-align: center;
            width: 50%;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            @include bright-hover();
          }
      }
      &__content {
        display: block;
        a {
          text-decoration: none;
          color: $black;
          #notification-content {
            min-height: 60px;
            padding: 16px;
            border-bottom: 1px solid #eee;
            position: relative;
            display: table-cell;
            vertical-align: middle;
            &:hover {
              background-color: rgb(251, 251, 251);
            }
            img {
              float: left;
              height: 40px;
              width: 40px;
            }
            .item-body {
              margin: 0 40px 0 68px;
              &__text {
                line-height: 1.5;
              }
              &__time {
                color: #888;
              }
            }
            .angle-icon {
              position: absolute;
              top: 50%;
              right: 16px;
            }
          }
        }
      }
    }
    .mypage-tab-deal {
      margin: 40px 0 0;
      background-color: $white;
      font-size: 16px;
      line-height: 72px;
      h3 {
        font-size: 16px;
        padding: 0 16px;
      }
      ul.mypage-item-list {
        height: 236px;
        width: 700px;
        .mypage-item-not-found {
          padding: 160px 0 60px;
          background: url(logo-gray.svg);
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
  }
}