.single-container {
  @include container;
  padding:0 0 250px;
  .buy-item-container {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    h2 {
      @include container-title
    }
    .buy-content {
      margin: 0 auto;
      padding: 24px 12.5% 0;
      border-top: 1px solid $background;
      .buy-content-inner {
        max-width: 320px;
        margin: 0 auto;
        img {
          width: 70%;
          height: auto;
          opacity: 1;
          -webkit-transition: opacity .3s;
          transition: opacity .3s;
          vertical-align: middle;
        }
        .buy-item-name {
          margin: 15px auto;
          text-align: center;
          font-size
        }
        .buy-form {
          width: 100%;
          p {
            line-height: 1.5;
          }
          .buy-form-ja {
            margin: 16px 0 0;
            font-size: 28px;
          }
          .buy-price-shipping-money {
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    .buy-item {
      text-align: center;
      .buy-content-inner {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

