@include default-btn();
.new-user{
  padding-bottom: 220px;
  .container{
    @include container();
    &__title{
      @include container-title ();
      line-height: normal
    }
    &__inner{
      border-top: $user_border;
      padding: 40px 40px 64px;
      &__contents{
        max-width: 343px;
        margin: 0 auto;
        &--email{
          background: $red;
          a {
            text-decoration: none;
            color: $white;
          }
          @include bright-hover-tra();
          @include icon-set();
        }
        &--facebook{
          margin: 16px 0 0;
          background: $facebook;
          color: #fff;
          padding: 0px;
          a {
            text-decoration: none;
            color: $white;
          }
          @include icon-set();
        }
        &--google{
          margin: 16px 0 0;
          background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
          border-color: #979797;
          color: #333;
          padding: 0px;
          a {
            text-decoration: none;
            color: $black;
          }
          img {
            position: absolute;
            top: 13px;
            left: 16px;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}
// .sub-footer{
//   position: absolute;
// }