= render 'shared/registration-header'
.registration-form.second-step
  .registration-form__header
    電話番号の確認
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--theme
          携帯電話の番号
        .input-content__form--default{placeholder: '携帯電話の番号を入力'}
        .form-info__text
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      .input-content__form
        .btn-red
          SMSを送信する
        .form-info__text
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .input-content__form.about-user-info
        = link_to root_path do
          電話番号の確認が必要な理由
          %i.fas.fa-angle-right
= render 'shared/sub-footer'